<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/styles/styles.css">
	<title>Fashionable</title>
</head>
<body>
	<main class="container">
		<img src="/static/img/logo.png" class="logo">
		<h1>Fashionable Boutique</h1>
        <form method = "POST" enctype = "multipart/form-data">
            <section class="info-container">
                <div class="info-box">
                    <span class="inquiry">Hello and welcome!</span>
                    <span class="hint">have a quick read below to get started</span>
                </div>
                <div class="input-container">
                    <label class="option">
                        In order to get started, you need to upload a text (.txt) file with the following format:
                    </label>
                    example.txt
                        <code>
                        Tie, Green <br>
                        Shirt, Green <br>
                        Shirt, Grey <br>
                        </code>
                </div>
            </section>

            <section class="info-container">
                <div class="info-box">
                    <span class="inquiry">Available Garments and Colors</span>
                    <span class="hint">we currently support the following</span>
                </div>
                <div class="input-container">
                    <label class="option">
                        Remember the input must have the following format: 'garment','color' <br>
                        Below you can find a list of acceptable garments and colors
                    </label>
                    <div style="display: flex; flex-direction:row; justify-content: space-between;">
                            <code>
                            Colors: <br>
                            black, blue, cyan, <br>
                            green, grey, orange, <br>
                            purple, red, white, <br>
                            yellow <br>
                            </code>
                            <code>
                            Garments:<br>
                            cap, gloves, hat, iceskates, <br>
                            jacket, jeans, moccasin, pants, <br>
                            shirt, shorts, skirt, tennis, <br>
                            tie, top, tshirt, umberella <br>
                            </code>
                    </div>
                </div>
            </section>

            <section class="info-container">
                <div class="info-box">
                    <span class="inquiry">Clothing Inventory</span>
                    <span class="hint">please choose the input file to process</span>
                </div>
                <div class="input-container">
                    <label class="option">
                        <input type="file" name="file" onchange="form.submit()">
                        Click to upload file
                    </label>
                </div>
            </section>
        </form>

	</main>
	<!-- The id 'vm' is just for consistency - it can be anything you want -->
    <!-- <div id="vm">
        <p>{{ greeting }}</p>
        <p>[[ greeting ]]</p>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>