* {
	margin:  0;
	padding:  0;
	box-sizing: border-box;
	font-family:  'Montserrat', sans-serif;
}

body {
	background-color: #271c36;
	opacity: 0.8;
	background: linear-gradient(135deg, #1f172a 25%, transparent 25%) -10px 0/ 20px 20px, 
				linear-gradient(225deg, #2e1f42 25%, transparent 25%) -10px 0/ 20px 20px, 
				linear-gradient(315deg, #1f172a 25%, transparent 25%) 0px 0/ 20px 20px, 
				linear-gradient(45deg, #2e1f42 25%, #271c36 25%) 0px 0/ 20px 20px;
	color:  #fff;
}

.logo {
	height: 10rem;
	width: 10rem;
}

h1 {
	font-size:  2rem;
	margin-bottom:  2rem;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	min-height: 100vh;
}

.info-container {
	background-color: #382a4b;
	padding:  1rem;
	width: 100%;
	max-width: 640px;
	border-radius: 0.5rem;
	box-shadow: 2px 1px 1px black;
	margin-bottom: 1rem;
}

.info-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.info-box .inquiry {
	color: #fff;
	font-size:  1.25rem;
}

.info-box .hint {
	color: #9d9d9d;
	font-size:  0.75rem;
}

.input-container {
	margin-bottom:  1rem;
}

.option {
	display:  block;
	padding:  1rem;
	background-color: coral;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	/*text-align: center;*/
	cursor: pointer;
}